
body{
    font-size: 10pt;
    font-family: "Arial", "sans-serif";
    text-align: center;
    background-color: #3273dbc2;
    color: #ffffff;
}
    
table {
    margin-top:10px;
    margin-left:auto; 
    margin-right:auto;
    width:50%
}
    
#choices td {
    width: 600px;
    height:120px;
    border: 1px solid #ffffff;
    text-align: center;
    
}

td {
    width: 600px;
    border: 1px solid #ffffff;
    text-align: center;
}
    
.choicesDiv, .qnsDiv {
    width:150px;
    height:150px;
    background-color:#000000;
    margin: 5x;
    display: inline-block;
}
    
.qnstxt {
   
    margin: 0 auto;
    color: #ad1717;
    font-size: 24pt;
    background-color: #ffffff;
    text-align: center;
    height: 35px;
    width:80%;
}
    